// MEDIA QUERIES BREAKPOINTS
// 0 - 600px: phone
// 600px - 900px: tab-port
// 900px - 1200px: tab-land
// [1200px+ : normal]

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if ($breakpoint == tab-port) {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if ($breakpoint == tab-land) {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }
}

@mixin border-none-tab-port {
  @include respond(tab-port) {
    border: none;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 1;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(20%);
  }
}
