body {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.heading-primary {
  text-transform: uppercase;
  margin: 0.5rem;
  display: block;
  font-weight: 900;
  color: $color-grey-dark-2;
  letter-spacing: 1px;

  &--cart {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }

  &--banner {
    font-size: 5.5rem;
    &-1 {
      margin-bottom: 0;
      margin-left: 3rem;
      color: $color-primary-light;
      // @include respond(phone) {
      //   margin-left: 10rem;
      // }
    }
    &-2 {
      margin-top: -1rem;
      color: $color-grey-light-2;
    }
  }

  &--modal {
    margin: 0;
    margin-bottom: 2rem;
    // color: $color-primary-dark-1;
  }
}

.heading-secondary {
  display: block;
  &--modal {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: $color-primary-dark-1;
  }
}

.heading-tertiary {
  &--cart {
    display: block;
  }
}
